<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
          Department Result ({{year}} year)
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item *ngFor="let item of results" (click)="openResult(item)">
    <ion-icon name="contact" slot="start"></ion-icon>
    {{item.name}}
    <div class="item-note" slot="end">
      {{item.ygpa}}
    </div>
  </ion-item>
</ion-content>
